html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Calibri, Roboto, Open Sans, sans-serif
    -webkit-backface-visibility: hidden;
}
* {
    box-sizing: inherit;
}
h1 {
    text-align: center;
}

.container {
    width: 100%;
}

text {
  font-size: 13px;
  text-anchor: middle;
}

svg {
    margin:auto;
    display:block;
}
.wordcloud-overlay {
    font-size: 16px;
    border-radius: 5%;
    position: absolute;
    overflow: hidden;
    
    background-color: rgba(255,255,255,0.7);
}
.wordcloud-overlay__inner {
    text-align: center;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none;
}
.node-icon--faded {
    opacity: 0.5;
}
.legend-size circle {
    fill: rgb(31, 119, 180);
}

/*text.topic_word {
    text-anchor: middle;
    fill: rgba(0,0,0,0.6);
    pointer-events: none;
    font: sans-serif;
}

text.topic_name {
    text-anchor: middle;
    fill: black;
    pointer-events: none;
    font-style: italic;
}*/