html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Calibri, Roboto, Open Sans, sans-serif;
    -webkit-backface-visibility: hidden;
}

* {
    box-sizing: inherit;
}

#title {
    margin: 0;
    padding: 0 0 0 20px;
    text-align: left;
    /*line-height: 80px;*/
    color: white;
    display: inline;
    vertical-align: middle;
}

.logo {
    margin-left: 10px;
    margin-top: 10px;
    width: 80px;
    height: 80px;
    display: inline;
    vertical-align: middle;
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    display: block;
    background-color: black;
    font-family: Roboto, Helvetica, snas-serif;
}

.gui { 
    position: absolute;
    top: 100px;
    left: 0px;
}

.container {
    width: 100%;
}

text {
  font-size: 13px;
  text-anchor: middle;
}

div.clicked {
    font-weight: bold;
    text-decoration: underline;
}

svg {
    margin: auto;
    display:block;
}

.wordcloud-overlay {
    font-size: 16px;
}

.wordbox {
    padding: 2px;
    border-width: 2px;
    border-color: rgba(120, 100, 100, 0.7);
}

.hidden {
    display: none;
}

.legend-color text {
    font-size: 13px;
    text-anchor: start;
}


.legend-size circle {
    fill: rgb(200, 200, 200);
}

.legend-search text {
    font-size: 13px;
    text-anchor: start;
}

.linkbox ul {
    display: block;
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0;
    padding-left: 30px;
}

.linkbox li {
    margin-bottom: 10px;
    background-color: transparent;
}

.linkbox li a{
    color: black;
}

.linkbox li a:hover{
    color: blue;
}

.linkbox::-webkit-scrollbar {
    width: 10px;
}

.linkbox::-webkit-scrollbar-track {
    display: none;
}
 
.linkbox::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.linkbox::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.json-document::-webkit-scrollbar {
    width: 10px;
}

.json-document::-webkit-scrollbar-track {
    display: none;
}
 
.json-document::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.json-document::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*text.topic_word {
    text-anchor: middle;
    fill: rgba(0,0,0,0.6);
    pointer-events: none;
    font: sans-serif;
}

text.topic_name {
    text-anchor: middle;
    fill: black;
    pointer-events: none;
    font-style: italic;
}*/